.button {
  @include text(12px, 15px);
  font-weight: 700;
  color: $white;
  background-color: $accent-main;
  border: none;
  text-transform: uppercase;
  padding: 30px 40px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;

  @media (max-width: $width-tablet-max) {
    @include text(10px, 12px);
    font-weight: 500;
    padding: 20px 30px;
    min-width: 250px;
  }

  @media (max-width: $width-mobile-max) {
    min-width: 288px;
  }

  &:hover,
  &:focus {
    background-color: $accent-hover;
  }

  &:active {
    opacity: 0.7;
  }
}
