.container {
  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (max-width: $width-desktop-only) {
    max-width: $width-desktop-only;
    padding: 0 30px;
    width: auto;
  }

  @media (max-width: $width-tablet-max) {
    max-width: $width-tablet-max;
    padding: 0 20px;
    width: auto;
  }

  @media (max-width: $width-mobile-max) {
    max-width: $width-mobile-max;
    padding: 0 15px;
  }
}
