.countries {
  @media (min-width: $width-desktop-min) {
    background-image: url("../img/bg-worldmap-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center 25%;
  }
}

.countries__wrapper {
  margin-bottom: 57px;

  @media (max-width: $width-tablet-max) {
    margin-bottom: 124px;
  }
}
