.feedback {
  background-image: url("../img/bg-feedback-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 42px 35%;
  padding-bottom: 220px;
}

.feedback__wrapper {
  padding-top: 150px;
  margin-right: -12px;
}
