.form {
  width: 656px;
  background-color: $white;
  padding: 50px;
  margin-left: auto;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);

  @media (max-width: $width-tablet-max) {
    margin: 0 auto;
  }

  @media (max-width: $width-mobile-max) {
    width: 100%;
    padding: 50px 15px 50px 15px;
    background-color: $light;
    box-shadow: 0 0 0;
  }
}

.form__title {
  @include text(25px, 32px);
  font-weight: 600;
  text-align: center;
  color: $dark;
  margin: 0;
  margin-bottom: 13px;

  @media (max-width: $width-mobile-max) {
    margin-bottom: 20px;
  }
}

.form__text {
  @include text(16px, 24px);
  font-weight: 400;
  text-align: center;
  color: $dark;
  margin-top: 0;
  margin-bottom: 23px;

  @media (max-width: $width-mobile-max) {
    margin-bottom: 19px;
  }
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (max-width: $width-tablet-max) {
    margin-bottom: 19px;
  }

  @media (max-width: $width-mobile-max) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.form__input {
  height: 50px;
  padding: 15px;
  width: 270px;
  border: 1px solid $border;

  @media (max-width: $width-mobile-max) {
    width: 100%;
    max-width: 500px;
  }

  &::placeholder {
    @include text(14px, 17px);
    font-weight: 400;
    color: $dark;
    background-color: inherit;
  }
}

.form__input--tel {
  padding-left: 49px;
}

.form__label {
  @media (max-width: $width-mobile-max) {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }
}

.form__label--tel {
  position: relative;

  &::after {
    @include text(14px, 17px);
    position: absolute;
    content: "+7";
    color: $dark;
    font-family: $font-main;
    font-weight: 400;
    top: 18px;
    left: 26px;
  }

  &::before {
    @include text(14px, 17px);
    position: absolute;
    content: "*";
    color: $accent-main;
    font-family: $font-main;
    font-weight: 400;
    top: 10px;
    left: 15px;
  }
}

.form__button {
  display: block;
  padding: 18px 40px;
  margin: 0 auto;
}
