.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: $width-tablet-max) {
    flex-direction: column;
  }
}

.main-nav__logo {
  display: block;
}

.main-nav__logo-img {
  @media (max-width: $width-tablet-max) {
    width: 44px;
    height: 17px;
    margin-left: 20px;
  }

  @media (max-width: $width-mobile-max) {
    margin-left: 17px;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: flex-end;
  width: 900px;

  @media (max-width: $width-tablet-max) {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: $white;
    animation: emersion 0.5s;
    padding-top: 135px;
    padding-bottom: 70px;
    z-index: 2;
  }

  @media (max-width: $width-mobile-max) {
    width: 100%;
  }
}

.main-nav__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  margin-right: 47px;

  @media (min-width: $width-desktop-min) {
    max-width: 140px;
  }

  @media (max-width: $width-tablet-max) {
    padding: 17px 60px 17px 17px;
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 33%;
      right: 20px;
      background-image: url("../img/arrow-right.svg");
      width: 25px;
      height: 25px;
    }
  }
}

.main-nav__item-link {
  @include text(14px, 17px);
  font-weight: 500;
  text-decoration: none;
  color: $pitch-dark;
  transition: 0.3s;

  @media (max-width: $width-tablet-max) {
    @include text(20px, 28px);
    font-weight: 600;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    text-decoration: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.main-nav__info {
  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.main-nav__phone {
  @include text(18px, 32px);
  font-weight: 400;
  color: $accent-main;
  position: relative;
  padding-left: 40px;
  display: block;
  margin-right: 15px;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: $accent-hover;
    text-decoration: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.main-nav__phone-icon {
  position: absolute;
  top: 0;
  left: 1px;
  fill: $accent-main;
}

// JS меню
.main-nav__toggle {
  display: none;

  @media (max-width: $width-tablet-max) {
    position: absolute;
    top: -15px;
    right: 0;
    display: block;
    width: 73px;
    height: 50px;
    background-color: $accent-main;
    padding: 20px 30px;
    cursor: pointer;
    border: none;

    @media (max-width: $width-mobile-max) {
      right: 0;
      width: 50px;
      padding: 20px 10px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: 10px;
      right: 20px;
      background-image: url("../img/menu-open.svg");
      background-repeat: no-repeat;

      @media (max-width: $width-mobile-max) {
        right: 10px;
      }
    }
  }
}

.main-nav--closed .main-nav__wrapper {
  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $width-tablet-max) {
    background-color: $white;
    z-index: 3;
    top: -15px;
    right: 0;
    display: block;
    width: 73px;
    height: 50px;
    padding: 20px 30px;

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: 10px;
      right: 20px;
      background-image: url("../img/menu-close.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $width-tablet-max) {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.main-nav--nojs .main-nav__wrapper {
  @media (max-width: $width-tablet-max) {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
