.next-travels {
  width: 48.8%;
  border-right: 1px solid #d7d9df;

  @media (max-width: $width-tablet-max) {
    width: 78%;
  }
}

.next-travels__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;

  @media (max-width: $width-tablet-max) {
    margin-right: 20px;
  }
}

.next-travels__list {
  @include no-list;
  margin-right: 32px;


  @media (max-width: $width-desktop-only) {
    margin-right: 15px;
  }

  @media (max-width: $width-tablet-max) {
    margin-right: 30px;
  }
}

.next-travels__title {
  @include text(18px, 34px);
  font-weight: 600;
  color: $dark;
  margin: 0;
  margin-bottom: 15px;
}

.next-travels__item {
  margin-bottom: 4px;
  width: 95px;
}

.next-travels__link {
  @include text(14px, 24px);
  font-weight: 400;
  color: $text-footer;
  text-decoration: none;
  display: block;
}
