.next-travels {
  width: 48.8%;
  border-right: 1px solid #d7d9df;

  @media (max-width: $width-tablet-max) {
    width: 78%;
  }

  @media (max-width: $width-mobile-max) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d7d9df;
    margin-bottom: 28px;
    // margin-left: 10px;
  }
}

.next-travels__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;

  @media (max-width: $width-tablet-max) {
    margin-right: 20px;
  }

  @media (max-width: $width-mobile-max) {
    flex-wrap: wrap;
    margin-right: 0;
    justify-content: center;
    text-align: center;
  }
}

.next-travels__list {
  @include no-list;
  margin-right: 32px;


  @media (max-width: $width-desktop-only) {
    margin-right: 15px;
  }

  @media (max-width: $width-tablet-max) {
    margin-right: 30px;
  }

  @media (max-width: $width-mobile-max) {
    margin-bottom: 10px;

    &:first-child {
      margin-right: 55px;
    }
  }
}

.next-travels__title {
  @include text(18px, 34px);
  font-weight: 600;
  color: $dark;
  margin: 0;
  margin-bottom: 15px;

  @media (max-width: $width-mobile-max) {
    @include text(18px, 32px);
    text-align: center;
    margin-bottom: 21px;
    margin-left: -25px;
  }
}

.next-travels__item {
  margin-bottom: 4px;
  width: 95px;

  @media (max-width: $width-mobile-max) {
    margin-bottom: 10px;
  }
}

.next-travels__link {
  @include text(14px, 24px);
  font-weight: 400;
  color: $text-footer;
  text-decoration: none;
  display: block;

  @media (max-width: $width-mobile-max) {
    @include text(14px, 17px);
  }
}
