.package-prices {
  @include text(16px, 24px);
  font-weight: 400;
  border: 1px solid $border;
  border-radius: 6px;
  max-width: 370px;
  width: 48%;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  min-height: 610px;

  @media (max-width: $width-tablet-max) {
    border-radius: 6px 6px 0 0;
    width: 46%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0;
  }

  &:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.package-prices__title-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 37px;

  @media (max-width: $width-tablet-max) {
    flex-direction: column;
    text-align: center;
    margin-bottom: 11px;
  }
}

.package-prices__title {
  @include text(28px, 38px);
  font-weight: 600;
  letter-spacing: -1.27273px;
  margin: 0;
  margin-right: 20px;

  @media (max-width: $width-tablet-max) {
    @include text(24px, 18px);
    margin-right: 0;
    margin-bottom: 17px;
  }
}

.package-prices__price {
  @include text(25px, 34px);
  font-weight: 700;
  display: block;
}

.package-prices__text {
  padding-right: 20px;
  margin-top: 0;
  position: relative;
  padding-bottom: 26px;
  margin-bottom: 30px;
  border-bottom: 1px solid $border;

  @media (max-width: $width-tablet-max) {
    @include text(16px, 24px);
    text-align: center;
    padding-right: 0;
    padding-bottom: 9px;
    margin-bottom: 20px;
  }
}

.package-prices__list {
  @include no-list;
  margin-bottom: 23px;
}

.package-prices__item {
  @include text(16px, 32px);
  font-weight: 400;
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative;

  @media (max-width: $width-tablet-max) {
    @include text(16px, 32px);
    padding-left: 30px;
    margin-bottom: 9px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -3px;
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-check.svg");

    @media (max-width: $width-tablet-max) {
      top: 4px;
      left: -3px;
    }
  }
}

.package-prices__button {
  display: block;
  text-align: center;
  margin-top: auto;

  @media (max-width: $width-desktop-only) {
    @include text(10px, 12px);
    padding: 20px;
  }

  @media (max-width: $width-tablet-max) {
    margin-right: -20px;
    margin-left: -20px;
  }
}
