.page-footer__wrapper {
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 60px;

  @media (min-width: $width-desktop-min) {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $width-tablet-max) {
    padding-left: 0;
  }

  @media (max-width: $width-mobile-max) {
    padding-top: 0;
  }
}

.page-footer__inner {
  display: flex;
  width: 70%;

  @media (max-width: $width-tablet-max) {
    padding-bottom: 18px;
    width: 100%;
    border-bottom: 1px solid #d7d9df;
    margin-bottom: 30px;
  }

  @media (max-width: $width-mobile-max) {
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 28px;
  }
}

.page-footer__contacts {
  margin-left: 10%;
  border-right: 1px solid #d7d9df;
  width: 39%;

  @media (max-width: $width-desktop-only) {
    margin-left: 2%;
    width: 50%;
  }

  @media (max-width: $width-tablet-max) {
    width: 100%;
    margin-left: 5.6%;
    border-right: none;
  }

  @media (max-width: $width-mobile-max) {
    text-align: center;
    // margin-left: -10px;
    margin-left: 0;
  }
}

.page-footer__contacts-title,
.page-footer__corporate-title {
  @include text(18px, 34px);
  font-weight: 600;
  color: $dark;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $width-mobile-max) {
    @include text(18px, 32px);
  }
}

.page-footer__contacts-title {
  padding-left: 10px;

  @media (max-width: $width-mobile-max) {
    margin-bottom: 22px;
  }
}

.page-footer__travels-item,
.page-footer__corporate-text {
  @include text(14px, 24px);
  font-weight: 400;
  color: $text-footer;
}

.page-footer__email {
  @include text(14px, 17px);
  font-weight: 400;
  color: $accent-main;
  display: block;
  padding-left: 51px;
  margin-bottom: 20px;
  position: relative;
}

.page-footer__email-icon {
  position: absolute;
  top: 0;
  left: 11px;
}

.page-footer__tel {
  @include text(16px, 34px);
  font-weight: 400;
  color: $accent-main;
  display: block;
  padding-left: 51px;
  position: relative;

  @media (max-width: $width-mobile-max) {
    @include text(16px, 32px);
  }
}

.page-footer__tel-icon {
  position: absolute;
  top: 0;
  left: 11px;
}

.page-footer__corporate {
  width: 31.5%;
  padding-left: 2.5%;

  @media (max-width: $width-tablet-max) {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}

.page-footer__corporate-text {
  padding-right: 10px;

  @media (max-width: $width-tablet-max) {
    padding-right: 0;
  }

  @media (max-width: $width-mobile-max) {
    @include text(14px, 24px);
  }
}
