.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-top: 17px;
  padding-bottom: 60px;
}

.page-footer__contacts {
  width: 310px;
  // width: 26.7%;
  margin-left: 5%;
  border-right: 1px solid #d7d9df;
}

.page-footer__contacts-title,
.page-footer__corporate-title {
  @include text(18px, 34px);
  font-weight: 600;
  color: $dark;
  margin: 0;
  margin-bottom: 20px;
}

.page-footer__contacts-title {
  padding-left: 10px;
}

.page-footer__travels-item,
.page-footer__corporate-text {
  @include text(14px, 24px);
  font-weight: 400;
  color: $text-footer;
}

.page-footer__email {
  @include text(14px, 17px);
  font-weight: 400;
  color: $accent-main;
  display: block;
  padding-left: 51px;
  margin-bottom: 20px;
  position: relative;
}

.page-footer__email-icon {
  position: absolute;
  top: 0;
  left: 11px;
}

.page-footer__tel {
  @include text(16px, 34px);
  font-weight: 400;
  color: $accent-main;
  display: block;
  padding-left: 51px;
  position: relative;
}

.page-footer__tel-icon {
  position: absolute;
  top: 0;
  left: 11px;
}

.page-footer__corporate {
  width: 31.5%;
  padding-left: 3%;
}

.page-footer__corporate-text {
  padding-right: 10px;
}
