.price {
  display: flex;
}

.countries__wrapper {
  margin-bottom: 50px;
}

.price__content {
  order: 3;
  width: 310px;
  padding-top: 113px;
}

.price__title {
  @include text(55px, 90px);
  font-weight: 600;
  color: $dark;
  position: relative;
  margin: 0;
  padding-bottom: 31px;

  &::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $accent-main;
  }
}

.price__text {
  @include text(16px, 27px);
  font-weight: 400;
  margin-bottom: 60px;
}

.price__contacts-title {
  @include text(22px, 34px);
  font-weight: 500;
  color: $dark;
}

.price__contacts-text {
  @include text(20px, 34px);
  display: block;
  font-weight: 500;
  color: $dark;
  letter-spacing: 1px;
  margin-bottom: 13px;
  padding-left: 50px;
}

.price__contacts-tel {
  position: relative;
}

.price__contacts-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.price__contacts-link {
  @include text(20px, 32px);
  font-weight: 400;
  color: $black;
  text-decoration: none;
  display: block;
  padding-left: 48px;
}

.price__list {
  @include no-list;
  display: flex;
  margin-right: 79px;
}
