.price {
  @media (min-width: $width-desktop-min) {
    display: flex;
  }
}

.price__content {
  order: 3;
  width: 291px;
  padding-top: 113px;
  margin-left: auto;

  @media (max-width: $width-tablet-max) {
    margin: 0 auto;
    width: 96%;
    text-align: center;
    padding-top: 83px;
    margin-bottom: 30px;
  }

  @media (max-width: $width-mobile-max) {
    padding-top: 43px;
    margin-bottom: 39px;
  }
}

.price__title {
  @include text(55px, 90px);
  font-weight: 600;
  color: $dark;
  position: relative;
  margin: 0;
  padding-bottom: 31px;

  @media (max-width: $width-tablet-max) {
    @include text(30px, 45px);
    padding-bottom: 4px;
  }

  @media (max-width: $width-mobile-max) {
    @include text(24px, 36px);
  }

  &::after {
    @media (min-width: $width-desktop-min) {
      content: "";
      position: absolute;
      bottom: 14px;
      left: 0;
      width: 175px;
      height: 3px;
      background-color: $accent-main;
    }
  }
}

.price__text {
  @include text(16px, 27px);
  font-weight: 400;
  margin-bottom: 60px;

  @media (max-width: $width-tablet-max) {
    margin-bottom: 33px;
  }

  @media (max-width: $width-mobile-max) {
    margin-bottom: 19px;
  }
}

.price__contacts-title {
  @include text(22px, 34px);
  font-weight: 500;
  color: $dark;
}

.price__contacts-text {
  @include text(20px, 34px);
  display: block;
  font-weight: 500;
  color: $dark;
  letter-spacing: 1px;
  margin-bottom: 13px;
  padding-left: 17%;

  @media (max-width: $width-tablet-max) {
    @include text(18px, 34px);
    padding-left: 0;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
}

.price__contacts-link {
  @include text(20px, 32px);
  font-weight: 400;
  color: $black;
  text-decoration: none;
  display: block;
  padding-left: 14px;
  position: relative;
  text-align: center;
  transition: 0.3s;


  @media (max-width: $width-tablet-max) {
    @include text(18px, 32px);
    color: $accent-main;
    text-decoration: underline;
    padding-left: 0;
  }

  &:hover,
  &:focus {
    color: $accent-hover;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }
}

.price__contacts-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: $accent-main;

  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.price__list {
  @include no-list;
  display: flex;
  margin-right: 30px;

  @media (max-width: $width-tablet-max) {
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 122px;
  }

  @media (max-width: $width-mobile-max) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
