.reviews {
  @media (min-width: $width-desktop-min) {
    background-image: url("../img/country-greece-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 808px;
    min-height: 596px;
    background-position: 27% 100%;
    margin: 0 auto;
  }

  @media (max-width: $width-tablet-max) {
    background-image: url("../img/country-greece-tablet@1x.jpg");
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (max-width: $width-mobile-max) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.reviews__wrapper {
  width: 382px;
  background-color: $white;
  padding: 30px;
  margin-left: auto;
  margin-top: 105px;

  @media (max-width: $width-tablet-max) {
    margin: 0 auto;
    margin-top: 78px;
    padding-bottom: 0;
  }

  @media (max-width: $width-mobile-max) {
    width: 84%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 51px;
  }
}

.reviews__title {
  @include text(30px, 37px);
  font-weight: 500;
  letter-spacing: -0.691667px;
  color: $dark;
  margin: 0;
  position: relative;
  padding-bottom: 18px;
  display: inline-block;
  border-bottom: 1px solid $accent-main;

  @media (max-width: $width-mobile-max) {
    @include text(20px, 24px);
    padding-bottom: 11px;
    margin-bottom: 7px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  @include text(14px, 28px);
  font-weight: 400;
  letter-spacing: -0.408333px;
  margin-bottom: 32px;

  @media (max-width: $width-mobile-max) {
    margin-bottom: 15px;
  }
}

.reviews__author-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $width-mobile-max) {
    flex-direction: column;
  }
}

.reviews__author {
  @include text(16px, 24px);
  font-weight: 500;
  letter-spacing: -0.466667px;
  font-family: $font-secondary;
  color: $dark;
  font-style: normal;
  position: relative;
  display: block;

  @media (max-width: $width-mobile-max) {
    display: block;
    padding-left: 0;
  }
}

.reviews__author-image {
  display: block;
  margin-right: 17px;

  @media (max-width: $width-mobile-max) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
