.tab-content__item {
  display: flex;
  margin-bottom: 230px;

  @media (min-width: $width-desktop) {
    margin: 0 auto;
    margin-bottom: 230px;
  }

  @media (max-width: $width-tablet-max) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.tab-content__wrapper-text {
  @media (min-width: $width-desktop-min) {
    width: 370px;
    margin: 0 auto;
  }

  @media (max-width: $width-tablet-max) {
    padding: 0 4px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.tab-content__title {
  @include text(55px, 90px);
  font-weight: 600;
  letter-spacing: -1.245px;
  color: $dark;
  margin: 0;
  padding-bottom: 32px;
  position: relative;

  @media (max-width: $width-tablet-max) {
    @include text(30px, 45px);
    letter-spacing: 0;
    padding-bottom: 5px;
  }

  @media (max-width: $width-mobile-max) {
    @include text(24px, 36px);
  }

  &::after {
    @media (min-width: $width-desktop-min) {
      content: "";
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 175px;
      height: 3px;
      background-color: $accent-main;
    }
  }
}

.tab-content__text {
  @include text(16px, 28px);
  font-weight: 400;
  letter-spacing: -0.466667px;
  margin-bottom: 50px;

  @media (max-width: $width-tablet-max) {
    margin-bottom: 18px;
  }
}
