.tab-countries {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  max-width: 1002px;
  margin-bottom: 73px;
  padding-bottom: 17px;
  position: relative;

  @media (max-width: $width-tablet-max) {
    margin-left: 18px;
    flex-wrap: nowrap;
    margin-right: -20px;
    margin-bottom: 0;
    overflow: hidden;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 90%;
    height: 1px;
    background-color: $border;

    @media (max-width: $width-tablet-max) {
      width: 100%;
    }
  }
}

.tab-countries__item {
  padding-bottom: 10px;

  &:not(:last-child) {
    margin-right: 9.9%;

    @media (max-width: $width-tablet-max) {
      margin-right: 13.6%;
    }
  }
}

.tab-countries__item-link {
  @include text(20px, 24px);
  font-weight: 500;
  letter-spacing: -0.415px;
  text-decoration: none;
  color: $border;

  &--active {
    color: $accent-main;
  }
}
