.tours__title {
  @include text(55px, 80px);
  font-weight: 600;
  letter-spacing: -1.245px;
  color: $dark;
  width: 350px;
  margin: 0;
  position: relative;
  padding-bottom: 48px;

  @media (max-width: $width-tablet-max) {
    @include text(30px, 45px);
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0;
    padding-bottom: 20px;
  }

  @media (min-width: $width-desktop-min) {
    &::after {
      content: "";
      position: absolute;
      bottom: 15px;
      left: 0;
      width: 229px;
      height: 4px;
      background-color: $accent-main;
    }
  }
}

.tours__text {
  @include text(16px, 28px);
  font-weight: 400;
  letter-spacing: -0.466667px;
  width: 350px;
  margin-bottom: 55px;

  @media (max-width: $width-tablet-max) {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.tours__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-bottom: 17px;

  @media (max-width: $width-tablet-max) {
    margin-bottom: 87px;
  }
}

.tours__item {
  position: relative;
  margin-bottom: 99px;

  @media (max-width: $width-desktop-only) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (max-width: $width-tablet-max) {
    margin-bottom: 20px;
  }
}

.tours__item:not(:nth-child(3n)):not(:last-child) {
  @media (min-width: $width-desktop) {
    margin-right: 60px;
  }
}

.tours__item-image {
  display: block;

  @media (max-width: $width-tablet-max) {
    width: 288px;
    height: 425px;
  }
}

.tours__item-title {
  @include text(24px, 29px);
  font-weight: 400;
  letter-spacing: -0.415px;
  color: $dark;
  position: absolute;
  padding-top: 16px;
  padding-bottom: 15px;
  width: 215px;
  background-color: $white;
  text-align: center;
  margin: 0;
  bottom: 0;
  left: 69px;

  @media (max-width: $width-desktop-only) {
    left: 80px;
  }

  @media (max-width: $width-tablet-max) {
    left: 51px;
    bottom: -1px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
