html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-indent;
  @include text(16px, 28px);
  font-family: $font-main;
  font-weight: 400;
  min-width: 320px;
  background-color: $white;
  color: $text;
}

img {
  max-width: 100%;
  height: auto;
}
