// Шрифты
$font-main: "Montserrat", "Arial", sans-serif;
$font-secondary: "Poppins", "Arial", sans-serif;

// Цвета
$accent-main: #fe7865;
$accent-hover: #f17d4b;
$light: #fbf8f8;
$dark: #2c2e3f;
$pitch-dark: #141517;
$black: #000000;
$white: #ffffff;
$text: rgba(44, 46, 63, 0.7);
$text-footer: rgba(20, 21, 23, 0.5);
$border: rgba(44, 46, 63, 0.3);

// Размеры
// $width-mobile: 320px;
$width-mobile-max: 767px;
$width-tablet: 768px;
$width-tablet-max: 1023px;
$width-desktop-min: 1024px;
$width-desktop-only: 1229px;
$width-desktop: 1230px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
